@import 'nib'

html
  font-size: 10px

*
  box-sizing: border-box

body
  padding: 0px
  margin: 0px
  font-smoothing: antialiased

.clearfix:before, .clearfix:after
  content: " "
  display: table
.clearfix:after
  clear: both

ul, li
  list-style-type: none
  margin: 0
  padding: 0
  -webkit-margin-before: 0em
  -webkit-margin-after: 0em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  -webkit-padding-start: 0px

a
  text-decoration: none

a:hover
  text-decoration: underline

input, textarea
  width: 100%
  padding: .8rem .5rem .7rem .5rem
  border: 0px solid #CCC
  border-radius: 0
  background-color: #f4f4f4
  color: #666666
  outline: none
  resize: none